.hero {
  min-height: 80dvh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  gap: 2rem;
}

section {
  padding: 0 15%;
}

.hero-text h1 {
  font-family: "Permanet Marker", cursive;
  font-size: 70px;
  line-height: 1;
  color: white;
  margin: 0 0 40px;
}

.hero-text h2 {
  font-size: 30px;
  line-height: 1;
  color: white;
  margin: 0 0 20px;
}

.hero-text p {
  font-size: 15px;
  line-height: 1.5;
  color: white;
  margin-bottom: 10px;
}

.map {
  padding-bottom: 45%;
  position: relative;
  border-radius: 10px;
  margin-bottom: 40px;
}

.map iframe {
  height: 100%;
  width: 90%;
  left: 0;
  top: 0;
  position: absolute;
  border-radius: 10px;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .hero {
    display: block;
    padding: 6.25em 10;
  }
  .hero-text h1 {
    font-size: 3em;
  }
  .hero-text h4 {
    font-size: 1em;
  }
  .hero-text p {
    font-size: 0.9em;
    margin-bottom: 1.25em;
  }
  .hero-text a {
    font-size: 0.75em;
    padding: 0.5em 1em;
  }
}

/* Screen sizes up to 390px */
@media only screen and (max-width: 390px) {
  body {
    overflow-x: hidden;
  }
  .hero {
    padding: 10em 5%;
  }

  .hero-text h1 {
    font-size: 2.25em;
  }

  .hero-text h4 {
    font-size: 0.875em;
  }

  .hero-text p {
    font-size: 0.75em;
    margin-bottom: 1.25em;
  }

  .hero-text a {
    font-size: 0.625em;
    padding: 0.438em 0.875em;
    margin-bottom: 2em;
  }
}
