.hero {
  min-height: 80dvh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.hero-image {
  display: flex;
  justify-content: center;
}
.hero-image img {
  width: 80%;
  height: auto;
  border-radius: 15px;
  margin: 0 auto;
  object-fit: cover;
}

section {
  padding: 0 18%;
}

.hero-text h5 {
  /* font-family: 'Permanet Marker', cursive; */
  font-size: 14px;
  font-weight: 400;
  color: whitesmoke;
  margin-bottom: 40px;
}

.hero-text h1 {
  font-family: "Permanet Marker", cursive;
  font-size: 90px;
  line-height: 1;
  color: whitesmoke;
  margin: 0 0 45px;
}
.hero-text h4 {
  font-size: 18px;
  font-weight: 600;
  color: whitesmoke;
  margin-bottom: 10px;
}
.hero-text p {
  font-size: 15px;
  line-height: 1.9;
  color: whitesmoke;
  margin-bottom: 40px;
}
.hero-text a {
  display: inline-flex;
  color: whitesmoke;
  background: cadetblue;
  border: 1px solid transparent;
  padding: 10px 20px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all 0.55s ease;
}
.hero-text a:hover {
  background: transparent;
  border: 1px solid cadetblue;
  margin-left: 20px;
}
.hero-text a.ctaa {
  background: transparent;
  border: 1px solid whitesmoke;
  margin-left: 20px;
}
.hero-text a.ctaa i {
  vertical-align: middle;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .hero {
    display: block;
    padding: 6.25em 0;
  }
  .hero-text h1 {
    font-size: 3em;
  }
  .hero-text h4 {
    font-size: 1em;
  }
  .hero-text p {
    font-size: 0.9em;
    margin-bottom: 1.25em;
  }
  .hero-text a {
    font-size: 0.75em;
    padding: 0.5em 1em;
  }
}

/* Screen sizes up to 390px */
@media only screen and (max-width: 390px) {
  .hero {
    padding: 4.375em 4em;
  }

  .hero-text h1 {
    font-size: 2.25em;
  }

  .hero-text h4 {
    font-size: 0.875em;
  }

  .hero-text p {
    font-size: 0.75em;
    margin-bottom: 1.25em;
  }

  .hero-text a {
    font-size: 0.625em;
    padding: 0.438em 0.875em;
    margin-bottom: 2em;
  }

  .hero-image {
    margin-top: 20px;
  }
}
